apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-api-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-api
  template:
    metadata:
      labels:
        app: python-api
    spec:
      containers:
      - name: python-api-container
        image: python-api:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: SECRET_VALUE
          valueFrom:
            secretKeyRef:
              name: app-secrets
              key: SECRET_VALUE
        - name: LOG_FILE
          value: "/app/success.log"