apiVersion: v1
kind: Secret
metadata:
  name: python-api-secret
type: Opaque
data:
  # The base64 encoded value of your secret
  # To generate: echo -n "your-secret" | base64
  API_SECRET_VALUE: <BASE64_ENCODED_VALUE>